<!DOCTYPE html>
<html>
    <head>
        <% include partials/meta.ejs %>
    </head>
    <body>
        <% include partials/nav.ejs %>

        <div class="container">
            <h1><%= title %></h1>
            <div class="jumbotron">
                <h2>Sign In</h2>
                <p>Welcome.  Please sign in to view and manage your certificates, or request a new certificate</p>
                <p>
                    <a href="/auth/login" class="btn btn-primary btn-large" role="button">Login</a>
                </p>
            </div>
            <div class="jumbotron">
                <h2>Register</h2>
                <p>Sign up to start creating certificates with Bonafide</p>
                <p>
                    <a href='/auth/register' class="btn btn-primary btn-large" role="button">Register</a>
                </p>
            </div>
            <div class="jumbotron">
                <h2>About</h2>
                <p>View information about Bonafide</p>
                <p>
                    <a class="btn btn-primary btn-large" role="button">About</a>
                </p>
            </div>
        </div>
        <% include partials/scripts.ejs %>
    </body>
</html>
