<!DOCTYPE html>
<html>
    <head>
        <% include partials/meta.ejs %>
    </head>
    <body>
        <% include partials/nav.ejs %>

        <div class="container">
            <div>
                <h1>Login</h1>
                <form role="form" action="/auth/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email Addresss</label>
                        <input type="email" class="form-control" name="username" id="email" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <button type="submit">Log in</button>
                </form>

            </div>
        </div>

        <% include partials/scripts.ejs %>
    </body>
</html>
